<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="orderId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="vehicleId" column="vehicleId" jdbcType="BIGINT"/>
            <result property="driverId" column="driverId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="vehicleRating" column="vehicleRating" jdbcType="INTEGER"/>
            <result property="driverRating" column="driverRating" jdbcType="INTEGER"/>
            <result property="commentTime" column="commentTime" jdbcType="TIMESTAMP"/>
            <result property="images" column="images" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderId,userId,
        vehicleId,driverId,content,
        vehicleRating,driverRating,commentTime,
        images,createTime,updateTime,
        isDelete
    </sql>
    <select id="selectCommentVOPage" resultType="com.my.domain.vo.CommentVO">
        SELECT
            comment.id,
            comment.orderId,
            comment.userId,
            user.userName as userName,
            user.avatarUrl as userAvatar,
            comment.vehicleId,
            vehicle.name as vehicleName,
            comment.driverId,
            comment.content,
            comment.vehicleRating,
            comment.driverRating,
            comment.commentTime,
            comment.images,
            comment.createTime,
        FROM
            comment
        INNER JOIN vehicle ON comment.vehicleId = vehicle.id AND vehicle.isDelete = 0
        INNER JOIN user ON comment.userId = user.id AND user.isDelete = 0
        INNER JOIN driver ON comment.driverId = driver.id AND driver.isDelete = 0
        WHERE comment.isDelete = 0
        <if test="req.vehicleId!= null">
            AND comment.vehicleId = #{req.vehicleId}
        </if>
        <if test="req.userId!= null">
            AND comment.userId = #{req.userId}
        </if>
        <if test="req.driverId!= null">
            AND comment.driverId = #{req.driverId}
        </if>
        <if test="req.orderId!= null">
            AND comment.orderId = #{req.orderId}
        </if>
        <if test="req.searchText!= null and req.searchText!= ''">
            and (
                comment.content like concat('%', #{req.searchText}, '%')
                or user.userName like concat('%', #{req.searchText}, '%')
                or vehicle.name like concat('%', #{req.searchText}, '%')
            )
        </if>
        <if test="req.sortField != null and req.sortField!= ''">
            order by #{req.sortField}
            <if test="req.sortOrder!= null and req.sortOrder == 'descend'">
                desc
            </if>
        </if>
    </select>
</mapper>
