<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phoneNumber" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="realName" column="realName" jdbcType="VARCHAR"/>
            <result property="idCardNumber" column="idCardNumber" jdbcType="VARCHAR"/>
            <result property="verifyStatus" column="verifyStatus" jdbcType="TINYINT"/>
            <result property="verifyTime" column="verifyTime" jdbcType="TIMESTAMP"/>
            <result property="rejectReason" column="rejectReason" jdbcType="VARCHAR"/>
            <result property="driverLicenseNo" column="driverLicenseNo" jdbcType="VARCHAR"/>
            <result property="driverLicenseType" column="driverLicenseType" jdbcType="VARCHAR"/>
            <result property="driverLicenseIssueDate" column="driverLicenseIssueDate" jdbcType="DATE"/>
            <result property="driverLicenseExpireDate" column="driverLicenseExpireDate" jdbcType="DATE"/>
            <result property="drivingYears" column="drivingYears" jdbcType="INTEGER"/>
            <result property="memberLevel" column="memberLevel" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" jdbcType="TINYINT"/>
            <result property="isDriver" column="isDriver" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,
        userName,userAvatar,gender,
        userProfile,phoneNumber,email,
        realName,idCardNumber,verifyStatus,
        verifyTime,rejectReason,driverLicenseNo,
        driverLicenseType,driverLicenseIssueDate,driverLicenseExpireDate,
        drivingYears,memberLevel,userRole,
        isDriver,`status`,editTime,
        createTime,updateTime,isDelete
    </sql>
</mapper>
