<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.User">
        <id property="id" column="id" />
        <result property="userAccount" column="userAccount" />
        <result property="userPassword" column="userPassword" />
        <result property="userName" column="userName" />
        <result property="userAvatar" column="userAvatar" />
        <result property="gender" column="gender" />
        <result property="userProfile" column="userProfile" />
        <result property="realName" column="realName" />
        <result property="idCardNumber" column="idCardNumber" />
        <result property="idCardFrontImg" column="idCardFrontImg" />
        <result property="idCardBackImg" column="idCardBackImg" />
        <result property="idCardVerifyStatus" column="idCardVerifyStatus" />
        <result property="idCardVerifyTime" column="idCardVerifyTime" />
        <result property="idCardRejectReason" column="idCardRejectReason" />
        <result property="phoneNumber" column="phoneNumber" />
        <result property="email" column="email" />
        <result property="hasDriverLicense" column="hasDriverLicense" />
        <result property="driverLicenseNo" column="driverLicenseNo" />
        <result property="driverLicenseType" column="driverLicenseType" />
        <result property="driverLicenseIssueDate" column="driverLicenseIssueDate" />
        <result property="driverLicenseExpireDate" column="driverLicenseExpireDate" />
        <result property="drivingYears" column="drivingYears" />
        <result property="driverLicenseFrontImg" column="driverLicenseFrontImg" />
        <result property="driverLicenseBackImg" column="driverLicenseBackImg" />
        <result property="driverLicenseVerifyStatus" column="driverLicenseVerifyStatus" />
        <result property="memberLevel" column="memberLevel" />
        <result property="userRole" column="userRole" />
        <result property="isDriver" column="isDriver" />
        <result property="status" column="status" />
        <result property="editTime" column="editTime" />
        <result property="createTime" column="createTime" />
        <result property="updateTime" column="updateTime" />
        <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,userName,userAvatar,gender,
        userProfile,realName,idCardNumber,idCardFrontImg,idCardBackImg,
        idCardVerifyStatus,idCardVerifyTime,idCardRejectReason,phoneNumber,email,
        hasDriverLicense,driverLicenseNo,driverLicenseType,driverLicenseIssueDate,driverLicenseExpireDate,
        drivingYears,driverLicenseFrontImg,driverLicenseBackImg,driverLicenseVerifyStatus,memberLevel,
        userRole,isDriver,status,editTime,createTime,
        updateTime,isDelete
    </sql>
</mapper>
