<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.VehicleModelMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.VehicleModel">
        <id property="id" column="id" />
        <result property="brandId" column="brandId" />
        <result property="modelName" column="modelName" />
        <result property="modelLogo" column="modelLogo" />
        <result property="createTime" column="createTime" />
        <result property="updateTime" column="updateTime" />
        <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,brandId,modelName,modelLogo,createTime,updateTime,
        isDelete
    </sql>

    <select id="selectPageVO" resultType="com.my.domain.vo.VehicleModelVO">
        select
            vehicle_model.id,
            vehicle_model.brandId,
            vehicle_brand.brandName,
            vehicle_model.modelName,
            vehicle_model.modelLogo,
            vehicle_model.createTime
        from
            vehicle_model
        inner join
            vehicle_brand
        on vehicle_model.brandId = vehicle_brand.id and vehicle_brand.isDelete = 0
        where
            vehicle_model.isDelete = 0
        <if test="req.brandId != null">
            and vehicle_model.brandId = #{req.brandId}
        </if>
        <if test="req.modelName != null and req.modelName != ''">
            and vehicle_model.modelName like concat('%', #{req.modelName}, '%')
        </if>
        <if test="req.sortField != null and req.sortField!= ''">
            order by vehicle_model.${req.sortField}
            <if test="req.sortOrder!= null and req.sortOrder == 'descend'">
                desc
            </if>
        </if>
    </select>
</mapper>
