<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.VehicleMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.Vehicle">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="vehicleNo" column="vehicleNo" jdbcType="VARCHAR"/>
            <result property="brandId" column="brandId" jdbcType="BIGINT"/>
            <result property="modelId" column="modelId" jdbcType="BIGINT"/>
            <result property="energyTypeId" column="energyTypeId" jdbcType="BIGINT"/>
            <result property="vehicleTypeId" column="vehicleTypeId" jdbcType="BIGINT"/>
            <result property="productionYear" column="productionYear" jdbcType="INTEGER"/>
            <result property="dailyPrice" column="dailyPrice" jdbcType="DECIMAL"/>
            <result property="seatCount" column="seatCount" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="imageUrl" column="imageUrl" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,vehicleNo,
        brandId,modelId,energyTypeId,
        vehicleTypeId,productionYear,dailyPrice,
        seatCount,status,imageUrl,
        description,createTime,updateTime,
        isDelete
    </sql>
    <select id="selectPageVO" resultType="com.my.domain.vo.VehicleVO">
        select
            vehicle.id,
            vehicle.name,
            vehicle.vehicleNo,
            vehicle.brandId,
            vb.brandName as brandName,
            vehicle.modelId,
            vm.modelName as modelName,
            vehicle.vehicleTypeId,
            vtd.typeName as vehicleTypeName,
            vehicle.energyTypeId,
            etd.typeName as energyTypeName,
            vehicle.productionYear,
            vehicle.dailyPrice,
            vehicle.seatCount,
            vehicle.status,
            vehicle.imageUrl,
            vehicle.description,
            vehicle.createTime
        from
            vehicle
        inner join
            vehicle_brand as vb on vehicle.brandId = vb.id and vb.isDelete = 0
        inner join
            vehicle_model as vm on vehicle.modelId = vm.id and vm.isDelete = 0
        inner join
            energy_type_dict as etd on vehicle.energyTypeId = etd.id and etd.isDelete = 0
        inner join
            vehicle_type_dict as vtd on vehicle.vehicleTypeId = vtd.id and vtd.isDelete = 0
        where
            vehicle.isDelete = 0
        <if test="req.searchText != null and req.searchText != ''">
            and (
                vehicle.name like concat('%', #{req.searchText}, '%')
                or vb.brandName like concat('%', #{req.searchText}, '%')
                or vm.modelName like concat('%', #{req.searchText}, '%')
                or vtd.typeName like concat('%', #{req.searchText}, '%')
                or etd.typeName like concat('%', #{req.searchText}, '%')
            )
        </if>
        <if test="req.id != null">
            and vehicle.id = #{req.id}
        </if>
        <if test="req.brandId != null">
            and vehicle.brandId = #{req.brandId}
        </if>
        <if test="req.modelId!= null">
            and vehicle.modelId = #{req.modelId}
        </if>
        <if test="req.name != null and req.name != ''">
            and vehicle.name like concat('%', #{req.name}, '%')
        </if>
        <if test="req.vehicleNo!= null and req.vehicleNo!= ''">
            and vehicle.vehicleNo like concat('%', #{req.vehicleNo}, '%')
        </if>
        <if test="req.vehicleTypeId!= null">
            and vehicle.vehicleTypeId = #{req.vehicleTypeId}
        </if>
        <if test="req.energyTypeId!= null">
            and vehicle.energyTypeId = #{req.energyTypeId}
        </if>
        <if test="req.minDailyPrice!= null">
            and vehicle.dailyPrice &gt;= #{req.minDailyPrice}
        </if>
        <if test="req.maxDailyPrice!= null">
            and vehicle.dailyPrice &lt;= #{req.maxDailyPrice}
        </if>
        <if test="req.seatCount!= null">
            and vehicle.seatCount = #{req.seatCount}
        </if>
        <if test="req.status!= null">
            and vehicle.status = #{req.status}
        </if>
        <if test="req.description!= null and req.description!= ''">
            and vehicle.description like concat('%', #{req.description}, '%')
        </if>
        <if test="req.sortField != null and req.sortField!= ''">
            order by #{req.sortField}
            <if test="req.sortOrder!= null and req.sortOrder == 'descend'">
                desc
            </if>
        </if>
    </select>
</mapper>
