<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.VehicleMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.Vehicle">
            <id property="id" column="id" />
            <result property="vehicleNo" column="vehicleNo" />
            <result property="brandId" column="brandId" />
            <result property="modelId" column="modelId" />
            <result property="vehicleTypeId" column="vehicleTypeId" />
            <result property="color" column="color" />
            <result property="productionYear" column="productionYear" />
            <result property="dailyPrice" column="dailyPrice" />
            <result property="deposit" column="deposit" />
            <result property="mileage" column="mileage" />
            <result property="status" column="status" />
            <result property="imageUrl" column="imageUrl" />
            <result property="description" column="description" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,vehicleNo,brandId,modelId,vehicleTypeId,color,
        productionYear,dailyPrice,deposit,mileage,status,
        imageUrl,description,createTime,updateTime,isDelete
    </sql>
</mapper>
