<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.VehicleBrandMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.VehicleBrand">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="brandName" column="brandName" jdbcType="VARCHAR"/>
            <result property="brandLogo" column="brandLogo" jdbcType="VARCHAR"/>
            <result property="firstLetter" column="firstLetter" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,brandName,brandLogo,
        firstLetter,createTime,updateTime,
        isDelete
    </sql>
</mapper>
