<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.VerifyRecordMapper">

    <resultMap id="BaseResultMap" type="com.my.domain.entity.VerifyRecord">
        <id property="id" column="id" />
        <result property="userId" column="userId" />
        <result property="userAccount" column="userAccount" />
        <result property="verifyStatus" column="verifyStatus" />
        <result property="realName" column="realName" />
        <result property="idCardNumber" column="idCardNumber" />
        <result property="driverLicenseNo" column="driverLicenseNo" />
        <result property="driverLicenseType" column="driverLicenseType" />
        <result property="driverLicenseIssueDate" column="driverLicenseIssueDate" />
        <result property="driverLicenseExpireDate" column="driverLicenseExpireDate" />
        <result property="drivingYears" column="drivingYears" />
        <result property="verifyResult" column="verifyResult" />
        <result property="rejectReason" column="rejectReason" />
        <result property="verifyTime" column="verifyTime" />
        <result property="reviewId" column="reviewId" />
        <result property="reviewTime" column="reviewTime" />
        <result property="createTime" column="createTime" />
        <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,userAccount,verifyStatus,realName,idCardNumber,
        driverLicenseNo,driverLicenseType,driverLicenseIssueDate,driverLicenseExpireDate,drivingYears,
        verifyResult,rejectReason,verifyTime,reviewId,reviewTime,
        createTime,updateTime
    </sql>
</mapper>
